name: 'Weekly change log'

on:
  push:

jobs:
  getPrs:
    name: Get PRs
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.SEARCH_GH_ACCESS_TOKEN_ALL }}
    steps:
    # - name: 'Setup jq'
    #   uses: dcarbone/install-jq-action@v2
      
    # - name: Get PRs
    #   id: pull_requests
    #   run: |
    #     URI="https://api.github.com"
    #     API_HEADER="Accept: application/vnd.github.v3+json"
    #     AUTH_HEADER="Authorization: token ${GITHUB_TOKEN}"

    #     date=`date +%Y-%m-%d'T'%H:%M'Z' -d "7 days ago"`
        
    #     SKUTOPIA_PRS_RESPONSE=$(curl -sSL -H "${AUTH_HEADER}" -H "${API_HEADER}" "${URI}/search/issues?q=repo:Skutopia-org/skutopia+is:pr+is:merged+closed:>$date")
    #     SKUTOPIA_PRS=$(echo "$SKUTOPIA_PRS_RESPONSE" | jq -r '.items[] | "• \(.title) - [\(.labels[] | select(.name | contains("size") | not ) | .name)]"')

    #     WARETOPIA_PRS_RESPONSE=$(curl -sSL -H "${AUTH_HEADER}" -H "${API_HEADER}" "${URI}/search/issues?q=repo:Skutopia-org/waretopia+is:pr+is:merged+closed:>$date")
    #     WARETOPIA_PRS=$(echo "$WARETOPIA_PRS_RESPONSE" | jq -r '.items[] | "• \(.title) - [\(.labels[] | select(.name | contains("size") | not ) | .name)]"')
        
    #     BILLING_PRS_RESPONSE=$(curl -sSL -H "${AUTH_HEADER}" -H "${API_HEADER}" "${URI}/search/issues?q=repo:Skutopia-org/billing-domain+is:pr+is:merged+closed:>$date")
    #     BILLING_PRS=$(echo "$BILLING_PRS_RESPONSE" | jq -r '.items[] | "• \(.title) - [\(.labels[] | select(.name | contains("size") | not ) | .name)]"')
        
    #     jq -r -n --arg SKUTOPIA_PRS "$SKUTOPIA_PRS" --arg WARETOPIA_PRS "$WARETOPIA_PRS" --arg BILLING_PRS "$BILLING_PRS"'{blocks: [{type: "header",text:{type: "plain_text",text: ":rockets_fire: What we have shipped in the last week! :rockets_fire:"}},{"type": "divider"},{type: "section",text:{type: "mrkdwn",text: ":skutopia-logo_icon-gradient: *Shipping Platform*"}},{type: "section",text:{type: "mrkdwn",text: $SKUTOPIA_PRS}},{"type": "divider"},{type: "section",text:{type: "mrkdwn",text: ":package: *Fulfilment Centre*"}},{type: "section",text:{type: "mrkdwn",text: $WARETOPIA_PRS}},{"type": "divider"},{type: "section",text:{type: "mrkdwn",text: ":moneybag: *Billing Domain*"}},{type: "section",text:{type: "mrkdwn",text: $BILLING_PRS}},{"type": "divider"}]}' > post.json
    #     cat post.json

        # curl -X POST -H 'Content-type: application/json' --data @post.json https://hooks.slack.com/services/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

    - uses: actions/github-script@v7
      with:
        github-token: ${{ secrets.SEARCH_GH_ACCESS_TOKEN_ALL }}
        script: |
          const repos = await github.rest.repos.listForOrg({
            org: 'Skutopia-org',
          });
          console.log(repos)

        
